@model IEnumerable<BCShop.Entity.Concrete.Product>
@{
	ViewData["Title"] = "Details";
	Layout = "~/Views/Shared/UserLayout.cshtml";
}

<body>


	<!--//banner-->
	<section class="banner-bottom">
		<!--/blog-->
		<div class="container">
			<div class="row">
				<!--left-->
				<div class="col-lg-8 left-blog-info-w3layouts-agileits text-left">
					@foreach (var p in Model)
					{
							<div class="blog-grid-top">
								<div class="b-grid-top">
									<div class="blog_info_left_grid">
										<a href="#">
											<img src="@p.ImageUrl" class="img-fluid" alt="">
										</a>
									</div>
								</div>
							</div>
					}
					
					@await Component.InvokeAsync("CommentListByProduct",new {id=ViewBag.Id})
					@await  Html.PartialAsync("~/Views/Comment/PartialAddComment.cshtml")

				</div>

				<!--//left-->
				<!--right-->
				<aside class="col-lg-4 agileits-w3ls-right-blog-con text-right">
					<div class="right-blog-info text-left sticky-top pt-5">
						@foreach (var p in Model)
						{
							<div class="tech-btm">
								<h2>@p.Name</h2>
									<h4>@p.Price.ToString("c") </h4>
										<form asp-controller="Cart" asp-action="AddToCart" method="post" class="form-inline">
					<input type="hidden" name="ProductID" value="@p.ProductID" />
					<div class="input-group mb-3">
						<input type="number" name="Quantity" class="form-control" value="1" min="1" step="1" style="width:100px;" />
						<div class="input-group-append">
							<button type="submit" class="btn btn-secondary">
								<i class="fas fa-cart-plus"></i> Sepete Ekle
							</button>
						</div>
					</div>
				</form>


							</div>
							<div class="tech-btm">
								<h4>Ürün Özellikleri</h4>
								<p>@p.Note</p>
							</div>
							
						}

				</aside>
				<!--//right-->
			</div>
		</div>
	</section>

</body>

</html>

