@model BCShop.Entity.Concrete.Product
@{
	ViewBag.Title = "Add";

}

<link href="~/css/bootstrap.min.css" rel="stylesheet"/>
<div class="container">
	<div class="row">
	<div class="col-md-6">
		<form method="post" enctype="multipart/form-data">
				@Html.AntiForgeryToken()
				@Html.ValidationSummary(true,"",  new{@class="btn btn-danger"})

			<div class="form-group">
				<label>Ad</label>
				<input type="text" class="form-control" name="Name"/>
					@Html.ValidationMessageFor(x=>x.Name, "",new{ @style="color:red"})
			</div>
			<br />
			<div class="form-group">
				<label>Açıklama</label>
				<input type="text" class="form-control" name="Description"/>
					@Html.ValidationMessageFor(x=>x.Description, "",new{ @style="color:red"})
			</div>
			<br />
			<div class="form-group">
				<label>Resim</label>
				<input type="file" class="form-control" name="File"/>
					@Html.ValidationMessageFor(x=>x.Image, "",new{ @style="color:red"})
			</div>
			<br />
			<div class="form-group">
				<label>Fiyat</label>
				<input type="text" class="form-control" name="Price"/>
					@Html.ValidationMessageFor(x=>x.Price, "",new{ @style="color:red"})
			</div>
			<br />
			<div class="form-group">
				<label>Stok</label>
				<input type="text" class="form-control" name="StockAmount"/>
					@Html.ValidationMessageFor(x=>x.StockAmount, "",new{ @style="color:red"})
			</div>
			<br />
			<div class="form-group">
				<label>Popular</label>
				@Html.EditorFor(x=>x.Popular)
				@Html.ValidationMessageFor(x=>x.Popular, "",new{ @style="color:red"})
			</div>
			<br />
			<div class="form-group">
				<label>Aktif Mi?</label>
				@Html.EditorFor(x=>x.IsActive)
				@Html.ValidationMessageFor(x=>x.IsActive, "",new{ @style="color:red"})
			</div>
			<br />
			<div class="form-group">
				<label>Kategori</label>
				@Html.DropDownListFor(x=>x.Category,(List<SelectListItem>)ViewBag.Category,new {@class="form-control"})
			</div>
			<br />

			<button class="btn btn-primary" type="submit">Ekle</button>
			<a href="/AdminProduct/Index" class="btn btn-primary">Ürün Listesi</a>
		</form>
	</div>
</div>
</div>