@model List<BCShop.Entity.Concrete.Product>

@{

}

<a href="/AdminProduct/Add" class="btn btn-primary">Ürün Ekle</a>
<br />
<table class="table table-bordered">
	<tr>
		<th>Ad</th>
		<th>Açıklama</th>
		<th>Fiyat</th>
		<th>Stok</th>
		<th>Popüler</th>
		<th>Aktif</th>
		<th>Resim</th>
		<th>Kategori</th>
		<th>Sil</th>
		<th>Güncelle</th>
		@foreach (var product in Model)
		{
						<tr>
							<td>@product.Name</td>
							<td>@product.Description</td>
							<td>@product.Price</td>
							<td>@product.StockAmount</td>
							<td>
					@if (product.Popular == true)
					{
											<label class="btn btn-success">Evet</label>
					}
					else
					{
											<label class="btn btn-danger">Hayır</label>

					}
							</td>
							<td>
					@if (product.IsActive == true)
					{
											<label class="btn btn-success">Evet</label>
					}
					else
					{
											<label class="btn btn-danger">Hayır</label>

					}
							</td>
								<td><img src="~/Images/@product.Image" widht="80px" height="80px"/>Resim<td>
							<td>@product.Category.Name</td>
								<td>
						<a class="btn btn-danger btnDelete" data-id="@product.Id" asp-area="" aspcontroller="AdminProduct" asp-action="Delete" asp-route-id="@product.Id">Sil</a></td>
					<td><a class="btn btn-warning" asp-area="" asp-controller="AdminProduct" asp-action="Update"asp-route-id="@product.Id">Güncelle</a></td>
						</tr>
		}
	</tr>
</table>