@model BCShop.Entity.Concrete.User
@{
	ViewData["Title"] = "Index";
	Layout = "~/Views/Shared/UserLayout.cshtml";
}

<section class="main-content-w3layouts-agileits">
		<div class="container">
			<h3 class="tittle">Kayıt Ol</h3>
				<div class="row inner-sec">
			<div class="p-5 bg-light mx-auto mw-100">
				@using (Html.BeginForm("Index", "Register", FormMethod.Post))
				{
										<div class="container">
													<div class="form-group">
														<label for="validationCustom01">Adınız Soyadınız</label>
							@Html.TextBoxFor(x=>x.Name, new {@class="form-control"})
							@Html.ValidationMessageFor(x=>x.Name,"", new {@class="text-danger"})

												</div>
												<div class="form-group">
														<label for="validationCustom02">Mail Adresi</label>
							@Html.TextBoxFor(x=>x.Email, new {@class="form-control"})
							@Html.ValidationMessageFor(x=>x.Email,"", new {@class="text-danger"})
												</div>
												<div class="form-group">
														<label for="exampleInputPassword1 mb-2">Şifre</label>
							@Html.PasswordFor(x=>x.Password, new {@class="form-control"})
							@Html.ValidationMessageFor(x=>x.Password,"", new {@class="text-danger"})
												</div>
												<div class="form-group">
														<label for="exampleInputPassword2 mb-2">Şifre Onayı</label>
							@Html.PasswordFor(x=>x.Password, new {@class="form-control"})
							@Html.ValidationMessageFor(x=>x.Password,"", new {@class="text-danger"})
													
													</div>

											<button type="submit" class="btn btn-primary submit mb-4" id="btn-register">Kayıt Ol</button>
										<p>
											<a href="#" id="btn-conditions">Tüm şartları okudum. Kabul ediyorum.</a>
										</p>
											</div>
				}

					</div>
			</div>
		</div>
	</section>


	
	<script src="~/lib/jquery/dist/jquery.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
	<script>
		$('#btn-register').click(function(){
			Swal.fire({
			title: "Kayıt oldunuz!",
			text: "Kayıt başarıyla tamamlandı",
			icon: "success"});
		});
		$('#btn-conditions').click(function(){
			Swal.fire({
			title: "Gizlilik Politikası",
			text: "Bizimle paylaştığınız kişisel verileriniz sadece analiz yapmak suretiyle; sunduğumuz hizmetlerin gerekliliklerini en iyi şekilde yerine getirebilmek, bu hizmetlere sizin tarafınızdan ulaşılabilmesini ve maksimum düzeyde faydalanılabilmesini sağlamak, hizmetlerimizi, ihtiyaçlarınız doğrultusunda geliştirebilmek ve sizleri daha geniş kapsamlı hizmet sağlayıcıları ile yasal çerçeveler içerisinde buluşturabilmek ve kanundan doğan zorunlulukların (kişisel verilerin talep halinde adli ve idari makamlarla paylaşılması) yerine getirilebilmesi amacıyla, sözleşme ve hizmet süresince, amacına uygun ve ölçülü bir şekilde işlenecek ve güncellenecektir.",
			icon: "info"});
		});

	</script>

